body {
  background-color: rgb(243, 247, 255);
}

.App {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 1fr;
  background-color: #2F2E30;
}

a:link {
  color: #1493ff;
  text-decoration: none;
}

a:visited {
  color: #1493ff;
  text-decoration: none;
}

a:hover {
  color: #1078f7;
  text-decoration: none;
}

a:active {
  color: #1493ff;
  text-decoration: none;
}

.top-bar {
  background-color: black;
  overflow: hidden;
  width: 100%;
}

.top-bar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 7px;
  color: white;
}

table {
  border-collapse: collapse;
}

button {
  background-color: white;
}

button.selected {
  background-color: black;
  color: white;
}

.add-remove {
  color: black;
  background-color: white;
}

.in-lineup {
  color: white;
  background-color: black;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  background-color: white;
}

.add-remove {
  float: right;
}

li {
  list-style-type: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.position {
  width: 25px;
}

.nickname {
  width: 150px;
}

.game {
  width: 47px;
}

.fp {
  width: 50px;
}

.salary {
  width: 60px;
}

.pool-filters {
  grid-column-start: 1;
  grid-column-end: 2;
}

.player-pool {
  grid-column-start: 1;
  grid-column-end: 2;
}

.GamesBar-container {
  grid-column-start: 1;
  grid-column-end: 3;
}

.GamesBar-container > ul {
  display: flex;
  flex-flow: nowrap;
}

.GamesBar-container > ul > li {
  margin-left: .3rem;
  margin-right: .3rem;
  background-color: #4A4A4B;
  color: white;
  font-size: .7rem;
  width: 3.4rem;
  border-radius: .1rem;
  padding: .4rem;
  display: flex;
  flex-direction: column;
}

.GamesBar-container > ul > li > div {
  margin: .1rem;
}

.filtered {
  color: white;
  background-color: black;
}
